<p style="color: green"><%= notice %></p>

<% content_for :title, "Авторы" %>

<h1>Authors (Авторы)</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= link_to author, class: "author-card", style: "text-decoration: none;" do %>
    <div class="card" style="border-radius: 8px; padding: 16px; margin: 16px; text-align: left; display: flex;">
      <div class="card-image">
        <% if author.photo.attached? %>
          <%= image_tag author.photo, style: "width: 100px; height: 100px; border-radius: 50%;" %>
        <% else %>
          <%= image_tag "placeholder.svg", style: "width: 100px; height: 100px; border-radius: 50%;" %>
        <% end %>
      </div>
      <div class="card-content" style="width: 50%; margin-left: 3em">
        <h1 class="auth_inf"><%= author.last_name %> <%= author.first_name %></h3>
        <% @genres.each do |genre| %>
          
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= link_to new_author_path, class: "author-card", style: "text-decoration: none;" do %>
  <div class="card" style="border-radius: 8px; padding: 16px; margin: 16px; text-align: left; display: flex;">
    <div class="card-image">
      <%= image_tag "plus.svg", style: "width: 100px; height: 100px; border-radius: 50%;" %>
    </div>
    <div class="card-content" style="width: 50%; margin-left: 3em">
      <h1 class="auth_inf">Добавить</h3>
    </div>
  </div>
  <% end %>
</div>