<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2>Произошло <%= book.errors.count %> ошибок:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <div>
    <%= form.label "Название", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label "Описание", style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label "Автор", style: "display: block" %>
    <%= form.collection_select :author_id, @authors, :id, :display_name, prompt: "Выберите автора" %>
  </div>

  <div>
    <%= form.label "Жанр", style: "display: block" %>
    <%= form.collection_select :genre_id, @genres, :id, :genre_name, prompt: "Выберите жанр" %>
  </div>

  <div>
    <%= form.label "Год публикации", style: "display: block" %>
    <%= form.number_field :publication_year %>
  </div>

  <div>
    <%= form.label "ISBN", style: "display: block" %>
    <%= form.number_field :isbn %>
  </div>

  <div>
    <%= form.label "Обложка" %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.label "Текст" %>
    <%= form.file_field :pdf_file %>
  </div>

  <div>
    <%= form.submit "Добавить книгу" %>
  </div>
<% end %>
