<div style="margin-top: 1.3em;">
  <%= link_to "Главная", home_path, class: "web_path" %> / <%= link_to "Книги", books_path, class: "web_path" %> / <%= link_to @book.title, @book, class: "web_path" %> / <span class='web_path'>Изменение</span>
</div>

<% content_for :title, "Изменение книги" %>

<h1>Изменение книги</h1>

<%= form_with(model: @book) do |form| %>
  <div>
    <%= form.label "Название", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label "Описание", style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label "Автор", style: "display: block" %>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.label "Жанр", style: "display: block" %>
    <%= form.text_field :genre_id %>
  </div>

  <div>
    <%= form.label "Год публикации", style: "display: block" %>
    <%= form.number_field :publication_year %>
  </div>

  <div>
    <%= form.label "ISBN", style: "display: block" %>
    <%= form.number_field :isbn %>
  </div>

  <div>
    <%= form.label "Обложка" %>
    <%= form.file_field :cover %>
  </div>

  <div>
    <%= form.label "Текст" %>
    <%= form.file_field :pdf_file %>
  </div>

  <div>
    <%= form.submit "Сохранить изменения" %>
  </div>
<% end %>